@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Donor"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Medicines" asp-action="Create">Donate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Donations" asp-action="DonatedMedicines">Request</a>
        </li>
    }
    if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Donations" asp-action="Index">Donations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Requests" asp-action="Index">Requests</a>
        </li>
    }else 
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Donations" asp-action="MyDonations">My Donations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Requests" asp-action="MyRequests">My Requests</a>
        </li>
    }
}